#settings h1 {
	margin-top: 0px;
}
#about {
	margin: 10px 0px 30px 0px;
}
#settings {
	display: block;
	float: left;
	width: 250px;
}
#spiro_canvas {
	position: fixed;
	left: 260px;
	top: 5px;
	border: 1px dotted #aaa;
}
#settings label {
	display: inline-block;
	min-width: 100px;
	line-height: 1.5em;
}
#settings label:after {
	content:":";
}
#start_x,
#start_y,
#angle,
#size,
#reps,
#linewidth,
#curveamount,
#spin {
	width: 35px;
}
#color,
#bgcolor,
#sequence,
#fillcolor {
	width: 6em;
}
input:disabled {
	opacity: 0.2;
}
#spiro_svg {
	margin-top: 1em;
	border: 1px dotted grey;
	box-sizing: border-box;
}
body.svg_fullscreen #svgholder {
	position: fixed;
	top: 5px;
	left: 260px;
	height: 750px;
	width: 750px;
	padding: 0px;
	margin: 0px;
}
body.svg_fullscreen #spiro_svg {
	margin: 0px;
	padding: 0px;
}
body.svg_fullscreen #spiro_canvas {
	display: none;
}