#settings h1 {
	margin-top: 0px;
}
#settings {
	display: block;
	float: left;
	width: 250px;
}
#settings label {
	display: inline-block;
	min-width: 100px;
	line-height: 1.5em;
}
#settings label:after {
	content:":";
}
#start_x,
#start_y,
#angle,
#size,
#reps,
#linewidth,
#curveamount,
#spin {
	width: 35px;
}
#color,
#bgcolor,
#sequence {
	width: 6em;
}
input:disabled {
	opacity: 0.2;
}