#settings h1 {
	margin-top: 0px;
}
#settings {
	display: block;
	float: left;
	width: 250px;
}
#settings label {
	display: inline-block;
	min-width: 100px;
	line-height: 1.5em;
}
#settings label:after {
	content:":";
}
#start_x,
#start_y,
#angle,
#size,
#reps,
#linewidth,
#curveamount,
#spin {
	width: 35px;
}
#color,
#bgcolor,
#sequence,
#fillcolor {
	width: 6em;
}
input:disabled {
	opacity: 0.2;
}
#spiro_svg {
	margin: 1rem 0px;
	border: 1px solid grey;
	box-sizing: border-box;
}
body.svg_fullscreen #spiro_svg {
	position: fixed;
	top: 0px;
	left: 255px;
	margin: 5px;
	height: 75%;
	width: 75%;
	max-width: 100%;
	max-height: 100%;
	padding: 2rem;
}
body.svg_fullscreen #spiro_canvas {
	display: none;
}